<h2 class="page-header">Search Authors</h2>
<form action="/authors" method="GET">
  <label>Name</label>
     <input type="text" name="name" value="<%= searchOptions.name %>">
</form>
<br>
<% authors.forEach(author => { %>
  <%= author.name %>
<% }) %>